* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    color: #222;
    background: white;
    line-height: 1.5;
    min-width: 320px;
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}